
.menu-fisso{
  height: 100%;
  background-color: black;
  width: 10%;
  position: absolute;
}
nav li{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  }
  .logo{
    height: 30%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
  .nav-bar{
    height: 40%;
  }
  .foto{
    width: 90%;
    background-color: red;
    float: right;

  }
  .foto-foglia{
    width: 45%;
    background-color: #becbb7;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .titoli{
    width: 45%;
  }
