
.menu-fisso{
  height: 100%;
  background-color: black;
  width: 10%;
  position: fixed;
}
nav li{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  }
  .logo{
    height: 30%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
  .nav-bar{
    height: 40%;
  }
  .foto{
    width: 90%;
    float: right;
    display: inline-flex;

  }
  .foto-foglia{
    width:50%;
    background-color: #becbb7;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .titoli{
      background-color: #7c9180;
      width:50%;
      text-align: center;
      padding-top: 80px;
      padding-right:
      padding-left:
      padding-bottom: 80px;
  }
  .titoli  h1{
    font-size: 60px;
    line-height: 50px;
    letter-spacing: 8px;
    margin: 0 0 15px;
    -webkit-text-stroke: 2px #fff;
    font-family: "brandon_grotesquemedium", sans-serif;
    color: #8da79d;
    text-shadow:2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  }
  .new-graphics{
    width: 90%;
    float: right;
    display: inline-flex;
    display: flex;
    justify-content: center;
  }
  .news{
    width: 90%;
    float: right;
    display: inline-flex;
    display: flex;
    justify-content: center;
  }
  .new-graphics h1{
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 5px;
    margin: 0 0 10px;
    text-transform: uppercase;
    color: #000;
    font-family: "brandon_grotesquebold", sans-serif;
    text-align: center;
  }
  .news h3{
    text-align: center;
  }
