
.menu-fisso{
  height: 100%;
  background-color: black;
  width: 10%;
  position: absolute;
}
nav li{
  display: flex;
  justify-content: center;
  }
  .logo{
    height: 30%;
    display: flex;
    justify-content: center;
  }
  .nav-bar{
    height: 40%;
  }
